// Tables
.mat-table__wrapper {
  width: 100%;
  overflow-x: auto;

  mat-cell,
  mat-header-cell {
    min-height: 100%;
  }

  .mat-table {
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
      padding-right: 10px;
      justify-content: center;
    }

    .mat-header-cell {
      text-transform: capitalize;
    }

    .mat-cell:last-child,
    .mat-footer-cell:last-child,
    .mat-header-cell:last-child {
      padding-right: 0;
    }

    .mat-row {
      transition: padding 0.3s ease;
    }

    .mat-row-editing {
      transition: padding 0.3s ease;
      padding: 12px 0 !important;

      .mat-form-field-fluid {
        width: 99% !important;
      }
    }
  }

  .mat-column-actions {
    .mat-column-actions-wrapper {
      display: flex;
      align-items: center;
    }
    .mat-spinner {
      margin-left: 12px;
      margin-right: 8px;
    }
  }

  .mat-table__message {
    padding: 30px !important;
    text-align: center;
    font-weight: 500;
  }

  .mat-column-checkbox {
    padding-left: 20px;

    .mat-checkbox {
      .mat-checkbox-layout {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  .ps__rail-y {
    z-index: 100;
  }
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.mat-table-sticky {
  z-index: 97 !important;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-checkbox {
  flex: 0 0 68px;
}

.mat-column-id {
  flex: 0 0 68px;
}

.mat-column-main {
  flex: 0 0 568px;
}

.mat-column-actions {
  flex: 0 0 160px;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-vinCode {
  flex: 0 0 170px;
}

.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
  height: 0;
  min-height: 0;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.mat-cell.open-modal {
  cursor: pointer;
}

@include b404-minimal-desktop {
  .mat-table {
    min-width: 1000px;
  }

  .mat-table__wrapper .mat-table {
    min-width: 1000px;
    width: 100%;
  }

  .mat-table__wrapper--dashboard .mat-table {
    min-width: 600px !important;
  }

  .mat-table__wrapper--sub .mat-table {
    min-width: 400px;

    .mat-cell:last-child {
      flex: 0 0 100px;
    }

    .mat-header-cell:last-child {
      flex: 0 0 100px;
    }
  }
}

@include b404-tablet-and-mobile {
  mat-cell:first-of-type {
    padding-left: 0 !important;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-row,
  .mat-header-row,
  .mat-footer-row {
    padding: 0 24px;
    min-height: 0;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    // display: block;
    font-size: 1em;
    // text-align: right;
    font-weight: bold;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }

  .mat-cell .mat-flat-button {
    padding: 0;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    // float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }

  .mat-table__bottom {
    margin-top: 20px;
  }
}
