//
// Header Dark Skin
//




// Include global config
@import "../../../../../config";

// Include layout config
@import "../../../config";

// Include header config
@import "../../config";

$b404-header-itek-font-color: #ffffff;
$b404-header-icon-font-color: #6e7899;
$b404-header-item-hover-bg: #282f48;
$b404-header-bg-color: #536be2;

// Desktop mode
@include b404-desktop {
	.b404-header {
		background-color: b404-get($b404-layout-skins, dark);
		box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);

		// Menu
		.b404-header-menu {
			.b404-menu__nav {
				> .b404-menu__item {
					> .b404-menu__link {
						border-radius: 4px;

						.b404-menu__link-text {
							color: #c0c4d1;
							font-weight: 500;
						}

						.b404-menu__hor-arrow {
							color: #677191;
						}

						.b404-menu__hor-icon {
							color: #677191;
						}
					}

					&.b404-menu__item--here,
					&.b404-menu__item--active,
					&:hover {
						> .b404-menu__link {
							background-color: $b404-header-item-hover-bg;

							.b404-menu__link-text {
								color: $b404-header-itek-font-color;
							}

							.b404-menu__hor-arrow {
								color: $b404-header-itek-font-color;
							}

							.b404-menu__hor-icon {
								color: $b404-header-itek-font-color;
							}
						}
					}
				}
			}
		}
	}
}

// General mode
.b404-header {
	.b404-header__topbar {
		padding-right: 15px;

		.b404-aside-secondary--enabled & {
			padding-right: 0;
		}

		.b404-header__topbar-item {
			.b404-header__topbar-icon {
				i {
					color: $b404-header-icon-font-color;
				}

				svg {
					g {
						[fill] {
							fill: $b404-header-icon-font-color;
						}
					}
				}
			}

			// User profile
			&.b404-header__topbar-item--user {
				.b404-header__topbar-welcome {
					color: #6b7594;
				}

				.b404-header__topbar-username {
					color: #c0c4d1;
				}
			}

			// Quick panel
			&.b404-header__topbar--quick-panel-toggler {
				.b404-header__topbar-icon {
					i {
						color: $b404-header-icon-font-color;
					}
				}
			}

			&:hover,
			&.show {
				.b404-header__topbar-icon {
					background-color: $b404-header-item-hover-bg;

					i {
						color: #fff;
					}

					svg {
						g {
							[fill] {
								fill: #fff;
							}
						}
					}
				}

				&.b404-header__topbar-item--user {
					.b404-header__topbar-user {
						@include b404-transition();
						background-color: $b404-header-item-hover-bg;

						.b404-header__topbar-username {
							color: $b404-header-itek-font-color;
						}
					}
				}

				&.b404-header__topbar--quick-panel-toggler {
					background-color: b404-brand-color();

					.b404-header__topbar-icon {
						i {
							color: b404-brand-color(inverse);
						}
					}
				}
			}

			// Search
			&.b404-header__topbar-item--search {
				.b404-input-icon {
					.b404-input-icon__icon {
						i {
							color: b404-base-color(label, 2);
						}
					}
				}
			}
		}
	}
}

// Mobile mode
@include b404-tablet-and-mobile {
	// Menu wrapper
	.b404-header-menu-wrapper {
        background-color: b404-get($b404-layout-skins, dark);

    	// Scrollbar
    	@include b404-perfect-scrollbar-skin(#637099);
	}

	// Topbar
	.b404-header__topbar {
		background-color: b404-get($b404-layout-skins, dark);
		box-shadow: none;
	}

	.b404-header__topbar--mobile-on {
		.b404-header__topbar {
			box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
			border-top: 1px solid #2e3448;
		}
	}

	// Build Header Menu Skin
	@include b404-menu-hor-build-skin(b404-get($b404-header-config, menu, desktop), dark);
}
