<mat-card class="example-card">
  <mat-card-content [formGroup]="expensesForm">
    <div class="b404-form__section">
      <div class="b404-form__group">
        <div class="row">
          <div class="col-md-5 b404-margin-bottom-10-mobile">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>{{'TRAVELS.EXPENSE.MODEL.NAME' | b404Translate}}</mat-label>
              <input matInput placeholder="{{'TRAVELS.EXPENSE.MODEL.NAME' | b404Translate}}" type="text" required
                formControlName="name">
              <mat-error>
                {{'TRAVELS.EXPENSE.MODEL.NAME' | b404Translate}}
                <strong>{{'GENERAL.TEXT.REQUIRED' | b404Translate}}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5 b404-margin-bottom-10-mobile">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>{{'TRAVELS.EXPENSE.MODEL.PRICE' | b404Translate}}</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input matInput matInputCurrency type="text"
                placeholder="{{'TRAVELS.EXPENSE.MODEL.PRICE' | b404Translate}}" formControlName="price" />
            </mat-form-field>
          </div>
          <div class="col-md-2 b404-margin-bottom-10-mobile pb-4 d-flex justify-content-center align-items-center">
            <button mat-raised-button color="warn" (click)="deleteExpense()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>