.action-tooltip {
  color: #fff;
  border-radius: 4px;
  margin: 14px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;

  background: rgba(97, 97, 97, 0.9);
  a {
    color: #fff !important;
    text-decoration: underline;
  }
}
