//
// User Profile 1
//



.b404-widget {
    &.b404-widget--user-profile-1 {
        padding-bottom: 1.7rem;

        .b404-widget__head {
            display: flex;
            align-items: flex-start;

            .b404-widget__media {
                img {
                    width: 90px;
                    max-width: 100%;

                    @include b404-rounded {
                        border-radius: 8px;
                    }  
                }
            }

            .b404-widget__content {
                padding-left: 1.6rem;

                .b404-widget__section {
                    .b404-widget__username {
                        font-size: 1.3rem;
                        color: b404-base-color(label, 4);
                        font-weight: 500;

                        &:hover {
                            color: b404-brand-color();
                            transition: color 0.3s ease;
                        }

                        i {
                            font-size: 1.1rem; 
                            padding-left: 0.4rem;
                        }                        
                    }

                    .b404-widget__subtitle {
                        font-size: 1;
                        display: block;
                        padding: 0.25rem 0 0 0;
                        font-weight: 500;
                        color: b404-base-color(label, 2);
                    }
                }

                .b404-widget__action {
                    margin-top: 1rem;

                    .btn {
                        margin-right: 0.4rem;
                        font-weight: 600;
                        padding: 0.3rem 1rem;
                    }
                }
            }
        }

        .b404-widget__body {
            .b404-widget__content {                
                padding: 1.9rem 0 2.1rem 0;

                .b404-widget__info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 0.5rem;

                    .b404-widget__label {
                        color: b404-base-color(label, 4);
                        font-weight: 500;
                    }

                    .b404-widget__data {
                        color: b404-base-color(label, 2);
                        font-weight: 400;                       
                    }

                    a.b404-widget__data:hover {                        
                        color: b404-brand-color();
                        transition: color 0.3s ease;                         
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }                          
            }

            .b404-widget__items {
                .b404-widget__item {                      
                    display: flex;                  
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.9rem 1.05rem 0.9rem 0.6rem;
                    margin: 0.4rem 0;

                    &.b404-widget__item--active {
                        transition: color 0.3s ease;
                        background: #f2f3f7;                       

                        @include b404-rounded {
                            border-radius: $b404-border-radius;
                        }                       

                        .b404-widget__section {
                            .b404-widget__desc {
                                color: b404-brand-color();
                            }

                            .b404-widget__icon {                              
                                .b404-svg-icon g [fill] {
                                    fill: b404-brand-color();
                                }
                            }
                        }                        
                    }

                    .b404-widget__section {                        
                        .b404-widget__icon {                       
                            svg {
                                width: 2rem;
                                height: 1.5rem;                             
                            } 
                            
                            .b404-svg-icon g [fill] {
                                fill: b404-base-color(label, 2);
                            }
                        }

                        .b404-widget__desc {
                            color: b404-base-color(label, 2);
                            font-weight: 500;
                            padding-left: 0.3rem;                      
                        } 
                    }    

                    &:hover {                        
                        transition: color 0.3s ease;
                        background: #f2f3f7;
                        cursor: pointer;

                        @include b404-rounded {
                            border-radius: $b404-border-radius;
                        }                          
                        
                        .b404-widget__desc {
                            color: b404-brand-color();
                        }

                        .b404-widget__icon {                              
                            .b404-svg-icon g [fill] {
                                fill: b404-brand-color();
                            }
                        }
                    }                     
                } 
            }
        }
    }

    .b404-portlet__body.b404-portlet__body--fit-y & {
        margin-top: -10px;
    }
}    


@include b404-tablet-and-mobile {
    .b404-widget {
        &.b404-widget--user-profile-1 {
            padding-bottom: 1.2rem;
    
            .b404-widget__head {              
                .b404-widget__media {
                    img {
                        max-width: 60px;                       
                    }
                }    
                
                .b404-widget__content {    
                    .b404-widget__section {
                        .b404-widget__username {
                            font-size: 1.1rem;
                            color: b404-base-color(label, 4);
                            font-weight: 500;        
                        }
                    }
    
                    .b404-widget__action {
                        margin-top: 0.5rem;
    
                        .btn {
                            margin-right: 0.4rem;
                            font-weight: 500;
                            padding: 0.25rem 1.25rem;
                        }
                    }
                }
            }
    
            .b404-widget__body {
                .b404-widget__content {                   
                    padding-bottom: 2rem;         
                }              
            }
        }
    }    
}