<h2 mat-dialog-title>{{ box.nickname }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.MODEL' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.boxModel }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.TYPE' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.type }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.NICKNAME' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.nickname }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.SERIAL_NUMBER' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.serialNumber }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.BRAND' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.brand }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.RANGE_TRAVELED' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">{{ box.rangeTraveled }}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-6">
      <span>{{'WORKSHOP.BOXES.MODEL.PRICE' | b404Translate}}</span>
    </div>
    <div class="col-lg-8 col-6">$ {{ box.price }}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="close()">
    {{"GENERAL.BUTTONS.CLOSE" | b404Translate}}
  </button>
  <button color="primary" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial
    [routerLink]="['/workshop/boxes/edit/',box.id]">
    <mat-icon>create</mat-icon>
    <span>{{"GENERAL.BUTTONS.EDIT" | b404Translate}}</span>
  </button>
</mat-dialog-actions>