<html lang="en">

<head>
  <meta charset="utf-8">
  <style>
    body.m-content--skin-light2 {
      background-color: #f2f3f8;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    body,
    html {
      height: 100%;
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-weight: 300;
      font-family: Poppins;
      -ms-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    body {
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
    }
  </style>
</head>

<body m-root=""
  class="m-page--fluid m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"
  ng-version="6.1.10">
  <table
    style="border:0;border-collapse:collapse;margin:0 auto;background:white;border-radius:0.5rem;margin-bottom:1rem">
    <tbody>
      <tr>
        <td style="width:546px;vertical-align:top;padding:32px">
          <div style="max-width:600px;margin:0 auto">
            <h1 style="font-size:30px;padding-right:30px;padding-left:30px;text-align:center;">Restablecer tu contraseña
              en DCompas</h1>
            <p style="font-size:17px;padding-right:30px;padding-left:30px">
              Has indicado que olvidaste tu contraseña. Si es así, haz clic aquí para crear una nueva:
            </p>
            <div style="padding-right:30px;padding-left:30px">
              <table style="width:100%" class="m_1043615992755811821sm_table">
                <tbody>
                  <tr style="width:100%">
                    <td style="width:100%;text-align:center;">
                      <span style="display:inline-block;border-radius:4px;background-color:#2ea664"
                        class="m_1043615992755811821sm_full_width">
                        <a href='https://dcompas.com.mx/auth/cambiar-contraseña?token={{token}}&email{{email}}'
                          style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;border-left:24px solid;border-color:#2ea664;border-radius:4px;background-color:#2ea664;color:#ffffff;font-size:18px;line-height:18px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;text-decoration:none!important"
                          target="_blank">
                          Elige una nueva contraseña
                        </a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p style="font-size:17px;padding-right:30px;padding-left:30px">
              Si no querías restablecer tu contraseña, puedes ignorar este correo. La contraseña no se cambiará.
            </p>
            <br>
            <div style="padding-right:30px;padding-left:30px">
              <div style="border-top:1px solid #e1e1e4;padding:30px 0 22px;margin:0;padding-top:20px"></div>
            </div>
            <p style="color: #717274;font-size:17px;padding-right:30px;padding-left:30px">
              ¿No funciona el botón "Elige una nueva contraseña"?
              <br>
              Copia y pega este enlace en tu navegador:
              https://dcompas.com.mx/auth/cambiar-contraseña?token={{token}}&email{{email}}
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>