<!-- begin:: Header Topbar -->
<div class="b404-header__topbar">
	<!--begin: Search -->
	<!--<b404-search-dropdown [icon]="'./assets/media/icons/svg/General/Search.svg'" [useSVG]="true"></b404-search-dropdown>-->
	<!--end: Search -->
	<!--begin: Notifications -->
	<!--<b404-notification [bgImage]="'./assets/media/misc/bg-1.jpg'" [pulse]="true" [skin]="'dark'" [icon]="'./assets/media/icons/svg/Code/Compiling.svg'" [useSVG]="true"></b404-notification>-->
	<!--end: Notifications -->
	<!--begin: Quick actions -->
	<!--<b404-quick-action [bgImage]="'./assets/media/misc/bg-2.jpg'" [skin]="'dark'" [icon]="'./assets/media/icons/svg/Media/Equalizer.svg'" [useSVG]="true"></b404-quick-action>-->
	<!--end: Quick actions -->
	<!--begin: My Cart -->
	<!--<b404-cart [bgImage]="'./assets/media/misc/bg-1.jpg'" [icon]="'./assets/media/icons/svg/Shopping/Cart3.svg'" [useSVG]="true"></b404-cart>-->
	<!--end: My Cart -->
	<!--begin: Quick panel toggler -->
	<!--<div class="b404-header__topbar-item b404-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Quick panel">
		<span class="b404-header__topbar-icon" id="kt_quick_panel_toggler_btn">
			<span class="b404-svg-icon" [inlineSVG]="'./assets/media/icons/svg/Layout/Layout-4-blocks.svg'"></span>
		</span>
	</div>-->
	<!--end: Quick panel toggler -->
	<!--begin: Language bar -->
	<b404-language-selector></b404-language-selector>
	<!--end: Language bar -->
	<!--begin: User bar -->
	<b404-user-profile></b404-user-profile>
	<!--end: User bar -->
</div>
<!-- end:: Header Topbar -->
