<div class="b404-subheader-search">
	<div class="b404-container" [ngClass]="{'b404-container--fluid': fluid}">
		<h3 class="b404-subheader-search__title">
			Recent Bookings
			<span class="b404-subheader-search__desc">Onling Bookings Management</span>
		</h3>
		<form class="b404-form">
			<div class="b404-grid b404-grid--desktop b404-grid--ver-desktop">
				<div class="b404-grid__item b404-grid__item--middle">
					<div class="row b404-margin-r-10">
						<div class="col-lg-6">
							<div class="b404-input-icon b404-input-icon--pill b404-input-icon--right">
								<input type="text" class="form-control form-control-pill" placeholder="Booking Number">
								<span class="b404-input-icon__icon b404-input-icon__icon--right"><span><i class="la la-puzzle-piece"></i></span></span>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="b404-input-icon b404-input-icon--pill b404-input-icon--right">
								<input type="text" class="form-control form-control-pill" placeholder="From">
								<span class="b404-input-icon__icon b404-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="b404-input-icon b404-input-icon--pill b404-input-icon--right">
								<input type="text" class="form-control form-control-pill" placeholder="To">
								<span class="b404-input-icon__icon b404-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="b404-grid__item b404-grid__item--middle">
					<button type="button" class="btn btn-pill btn-upper btn-bold btn-font-sm b404-subheader-search__submit-btn">Search Bookings</button>
					<a href="javascript:;" class="b404-subheader-search__link b404-link">Advance Search</a>
				</div>
			</div>
		</form>
	</div>
</div>
