<b404-portlet>
  <b404-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'b404-portlet__head--lg'"
    [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <a (click)="goBackWithoutId()" class="btn btn-secondary b404-margin-r-10" mat-raised-button
        matTooltip="{{'MODULE.GO_BACK' | b404Translate:translateParams}}">
        <i class="la la-arrow-left"></i>
        <span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.BACK' | b404Translate}}</span>
      </a>
      <a href="javascript:;" class="btn btn-secondary b404-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0"
        mat-raised-button matTooltip="{{'GENERAL.BUTTONS.RESET_FORM' | b404Translate}}">
        <i class="la la-cog"></i>
        <span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.RESET' | b404Translate}}</span>
      </a>
      <a href="javascript:;" class="btn btn-primary b404-margin-r-10" color="primary" (click)="onSumbit(false)"
        mat-raised-button matTooltip="{{'GENERAL.BUTTONS.SAVE_FORM' | b404Translate}}">
        <span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.SAVE' | b404Translate}}</span>
      </a>
    </ng-container>
  </b404-portlet-header>
  <b404-portlet-body>
    <div *ngIf="maintenance">
      <!--begin::Form-->
      <form [formGroup]="maintenanceForm" class="b404-form b404-form--group-seperator-dashed" autocomplete="off">
        <b404-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
          (close)="onAlertClose($event)">
          <span> {{'GENERAL.TEXT.OH_SNAP_CREATE' | b404Translate}} </span>
        </b404-alert>

        <div class="b404-form__section b404-form__section--first">
          <div class="b404-form__group">
            <div class="row">
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.TRUCK_SERIAL_NUMBER' | b404Translate}}</mat-label>
                  <b404-trucks-autocomplete formControlName="truck"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.TRUCK_SERIAL_NUMBER' | b404Translate}}">
                  </b404-trucks-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.BOX_SERIAL_NUMBER' | b404Translate}}</mat-label>
                  <b404-boxes-autocomplete formControlName="box"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.BOX_SERIAL_NUMBER' | b404Translate}}">
                  </b404-boxes-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.MECHANIC_NAME' | b404Translate}}</mat-label>
                  <b404-employees-autocomplete formControlName="mechanic"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.MECHANIC_NAME' | b404Translate }}" required>
                  </b404-employees-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="b404-form__group">
            <div class="row">
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.START_DATE' | b404Translate}}</mat-label>
                  <input matInput [matDatepicker]="startDate"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.START_DATE' | b404Translate }}" formControlName="start"
                    required />
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                  <mat-error>
                    {{'WORKSHOP.MAINTENANCE.MODEL.START_DATE' | b404Translate }}
                    <strong><span>{{'GENERAL.TEXT.REQUIRED' | b404Translate}}</span></strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.END_DATE' | b404Translate}}</mat-label>
                  <input matInput [matDatepicker]="endDate"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.END_DATE' | b404Translate }}" formControlName="end" />
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.PRICE' | b404Translate}}</mat-label>
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput matInputCurrency formControlName="price" type="text"
                    placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.PRICE' | b404Translate}}" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="b404-form__group">
            <div class="row">
              <div class="col-md-6 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.COMMENTS' | b404Translate}}</mat-label>
                  <textarea matInput rows="7" placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.COMMENTS' | b404Translate }}"
                    formControlName="comments"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-6 b404-margin-bottom-10-mobile">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>{{'WORKSHOP.MAINTENANCE.MODEL.REASONS' | b404Translate}}</mat-label>
                  <textarea matInput rows="7" placeholder="{{'WORKSHOP.MAINTENANCE.MODEL.REASONS' | b404Translate }}"
                    formControlName="reasons"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </b404-portlet-body>
</b404-portlet>