<!-- begin:: Footer -->
<div class="b404-footer b404-grid__item b404-grid b404-grid--desktop b404-grid--ver-desktop" id="kt_footer">
	<div class="b404-container" [ngClass]="{'b404-container--fluid': fluid}">
		<div class="b404-footer__copyright">
			{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://bits404.com" target="_blank" class="b404-link">bits404</a>
		</div>
		<div class="b404-footer__menu">
			<a href="http://bits404.com" target="_blank" class="b404-footer__menu-link b404-link">About</a>
			<a href="http://bits404.com" target="_blank" class="b404-footer__menu-link b404-link">Team</a>
			<a href="http://bits404.com" target="_blank" class="b404-footer__menu-link b404-link">Contact</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->
