<b404-portlet>
	<b404-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'b404-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary b404-margin-r-10" mat-raised-button matTooltip="{{'WORKSHOP.BOXES.BUTTONS.GO_BACK' | translate}}">
				<i class="la la-arrow-left"></i>
				<span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.BACK' | translate}}</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary b404-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="{{'GENERAL.BUTTONS.RESET_FORM' | translate}}">
				<i class="la la-cog"></i>
				<span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.RESET' | translate}}</span>
			</a>
			<a href="javascript:;" class="btn btn-primary b404-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="{{'GENERAL.BUTTONS.SAVE_FORM' | translate}}">
				<span class="b404-hidden-mobile">{{'GENERAL.BUTTONS.SAVE' | translate}}</span>
			</a>
		</ng-container>
	</b404-portlet-header>
	<b404-portlet-body>
		<div *ngIf="box">
			<form [formGroup]="boxForm" class="b404-form b404-form--group-seperator-dashed" autocomplete="off">

				<b404-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
					{{'GENERAL.TEXT.OH_SNAP_CREATE' | translate}}
				</b404-alert>

				<div class="b404-form__section b404-form__section--first">
					<div class="b404-form__group">
						<div class="row">

							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input id="model" matInput placeholder="{{'WORKSHOP.BOXES.MODEL.MODEL' | translate}}*" formControlName="boxModel">
									<mat-error>
										{{'WORKSHOP.BOXES.MODEL.MODEL' | translate}}
										<strong>{{'GENERAL.TEXT.REQUIRED' | translate}}</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="{{'WORKSHOP.BOXES.MODEL.TYPE' | translate }}" formControlName="type" required>
										<mat-option value="{{'WORKSHOP.BOXES.MODEL.DRY' | translate }}">{{'WORKSHOP.BOXES.MODEL.DRY' | translate }}</mat-option>
										<mat-option value="{{'WORKSHOP.BOXES.MODEL.REFRIGERATED' | translate }}">{{'WORKSHOP.BOXES.MODEL.REFRIGERATED' | translate }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input id="km" matInput placeholder="{{'WORKSHOP.BOXES.MODEL.RANGE_TRAVELED' | translate}}*" formControlName="rangeTraveled" type="number">
									<mat-error>
										{{'WORKSHOP.BOXES.MODEL.RANGE_TRAVELED' | translate}}
										<strong>{{'GENERAL.TEXT.REQUIRED' | translate}}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>

					<div class="b404-form__group">
						<div class="row">
							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input id="serialNumber" matInput placeholder="{{'WORKSHOP.BOXES.MODEL.SERIAL_NUMBER' | translate}}*" formControlName="serialNumber">
									<mat-error>
										{{'WORKSHOP.BOXES.MODEL.SERIAL_NUMBER' | translate}}
										<strong>{{'GENERAL.TEXT.REQUIRED' | translate}}</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input id="brand" matInput placeholder="{{'WORKSHOP.BOXES.MODEL.BRAND' | translate}}*" formControlName="brand">
									<mat-error>
										{{'WORKSHOP.BOXES.MODEL.BRAND' | translate}}
										<strong>{{'GENERAL.TEXT.REQUIRED' | translate}}</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-4 b404-margin-bottom-10-mobile">
								<label for="">{{'WORKSHOP.TRUCK.MODEL.TRUCK_PHOTOGRAPHY'|translate}}</label><br>
								<span>
									<input type="file" formControlName="image"  (change)="readUrl($event)">
								</span>
							</div>
						</div>
					</div>
					<div class="b404-form__group">
						<div class="row">
							<div class="col-md-4 b404-margin-bottom-10-mobile" *ngIf="url">
								<img class="box" [src]="url">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</b404-portlet-body>
</b404-portlet>

