<div ngbDropdown placement="bottom" class="b404-header__topbar-item b404-header__topbar-item--langs">
	<div ngbDropdownToggle class="b404-header__topbar-wrapper">
		<span class="b404-header__topbar-icon"
			[ngClass]="{ 'b404-header__topbar-icon--brand' : iconType === 'brand' }">
			<img class="" src="{{language?.flag}}" alt=""/>
		</span>
	</div>
	<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
		<ul class="b404-nav b404-margin-t-10 b404-margin-b-10">
			<ng-container *ngFor="let language of languages">
				<li class="b404-nav__item" [ngClass]="{'b404-nav__item--active': language.active}">
					<a href="javascript:;" (click)="setLanguage(language.lang)" [ngClass]="{'b404-nav__link--active': language.active}" class="b404-nav__link">
						<span class="b404-nav__link-icon">
							<img src="{{language.flag}}">
						</span>
						<span class="b404-nav__link-text">{{language.name}}</span>
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
</div>
