//
// Widget9
//




.b404-widget9 {
    padding: 2.2rem;
        
    .b404-widget9__header {
        padding: 1.1rem 0;
        margin-bottom: 0.5rem;

        .b404-widget9__title {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0;
            color: b404-base-color(label, 3);
        }

        .b404-widget9__desc {
            display: inline-block;
            margin-top: 0.2rem;
            color: b404-base-color(label, 2);
        }  

        .b404-widget9__text {
            color: b404-base-color(label, 2);
        }             
    }        

    .b404-widget9__chart {
        position: relative;
        margin-top: 0.5rem;

        .b404-widget9__stat {
            font-size: 2.4rem;
            font-weight: 700;
            color: b404-base-color(label, 2);
        }           
    }     
} 


