<b404-portlet>
	<b404-portlet-header [sticky]="true" [title]="'PAYSHEET.EMPLOYEE.TEXT.EMPLOYEE_LIST'| translate" [class]="'b404-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/paysheet/employees/add']" mat-raised-button color="primary" matTooltip="{{'PAYSHEET.EMPLOYEE.BUTTONS.CREATE_NEW' | translate}}"><span translate="PAYSHEET.EMPLOYEE.BUTTONS.NEW_EMPLOYEE"></span></a>
		</ng-container>
	</b404-portlet-header>
	<!-- end::Header -->

	<b404-portlet-body>
		<div class="b404-form b404-margin-b-30">
			<div class="b404-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 b404-margin-bottom-10-mobile">
						<mat-form-field>
							<input matInput #searchInput placeholder="{{'GENERAL.INPUTS.SEARCH' | translate}}" class="mat-form-field mat-form-field-fluid">
							<mat-hint align="start">
								<strong><span translate="">{{"GENERAL.INPUTS.SEARCH_IN_ALL_FIELDS" | translate}}</span></strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="row align-items-center collapse b404-form__group-actions b404-margin-top-20 b404-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
				<div class="col-xl-12">
					<div class="b404-form__group b404-form__group--inline">
						<div class="b404-form__label b404-form__label-no-wrap">
							<label class="b404--font-bold b404-font-danger-">{{"GENERAL.TEXT.SELECTED_RECORDS" | translate}}
								{{ selection.selected.length }}</label>
						</div>
						<div class="b404-form__control b404-form__group--inline">
							<button mat-raised-button color="accent" (click)="deleteEmployees()" matTooltip="{{'PAYSHEET.EMPLOYEE.TEXT.DELETE_SELECTED' | translate}}" class="mat-button-mt-4">
								<mat-icon>delete</mat-icon>
								<span translate=''>{{"GENERAL.BUTTONS.DELETE_ALL" | translate}}</span>
							</button>&nbsp;
							&nbsp;
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="example-container mat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear mdbTable mdbTableScroll scrollX="true" maxWidth="400">
				<!-- Checkbox Column -->
				<ng-container matColumnDef="Select" mdbTableCol>
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="FirstName" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.FIRST_NAME" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">{{employee.firstName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="LastName" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.LAST_NAME" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">{{employee.lastName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="BirthDate" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.BIRTH_DATE" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">{{employee.birthDate | date:'dd/MM/yy'}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Salary" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.SALARY" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">${{employee.salary.total}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Cellphone" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.CELLPHONE" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">{{employee.cellphone}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="DriversLicense" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{"PAYSHEET.EMPLOYEE.MODEL.DRIVERS_LICENSE" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">{{employee.driversLicense}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Status" mdbTableCol>
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{'GENERAL.TEXT.STATUS' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee" [ngSwitch]="employee.status">
						<span *ngSwitchCase="0" class="b404-badge b404-badge--inline b404-badge--pill b404-badge--success b404-badge--wide">{{ 'GENERAL.TEXT.AVAILABLE'|translate }}</span>
						<span *ngSwitchCase="1" class="b404-badge b404-badge--inline b404-badge--pill b404-badge--danger b404-badge--wide">{{'GENERAL.TEXT.NOT_AVAILABLE'|translate }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Actions" mdbTableCol>
					<mat-header-cell *matHeaderCellDef>
						{{"GENERAL.MODEL.ACTIONS" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let employee">
						<button mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item [routerLink]="['/paysheet/employees/edit/',employee.id]">
								<mat-icon>create</mat-icon>
								<span>{{'PAYSHEET.EMPLOYEE.TEXT.EDIT_ICON_LABEL' | translate}}</span>
							</button>
							<button mat-menu-item (click)="deleteEmployee(employee)">
								<mat-icon>delete</mat-icon>
								<span>{{'PAYSHEET.EMPLOYEE.TEXT.DELETE_ICON_LABEL' | translate}}</span>
							</button>
						</mat-menu>
					</mat-cell>
				</ng-container>


				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row [ngClass]="{'available':  row.status==0,'not_available': row.status==1}" *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems"><span translate="">
				{{"GENERAL.TEXT.NO_RECORDS_FOUND" | translate}}
				</span></div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async"><span translate="">
				{{"GENERAL.TEXT.WAIT" | translate}}
				</span></div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</b404-portlet-body>
	<!-- end::Body -->
</b404-portlet>
